html, body{
  height: 100%;
  font-size: 13px;
  font-family: serif;
}

line {
  stroke: green;
  stroke-width: 1px;
}
line.xaxis {
  stroke: yellow;
  stroke-width: 8px;
}

.box00{
  background: linear-gradient(white, rgb(10,10,10));
  /* background: radial-gradient(circle, #999, #100); */
}

.div01{
  background: radial-gradient(circle, #888, #000);
  padding: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

input:hover, button:hover{
  border-radius: 5px;
  background-color: rgb(150,150,150);
}

audio:hover{
  border-radius: 20px;
  background-color: #ffffff;
}

#play1Button,#play2Button,#playMixButton {
  border-radius: 5px;
  font-family: serif;
  font-size: 18px;
  color: red;
}
#pause1Button, #pause2Button,#pauseMixButton{
  border-radius: 5px;
  font-family: serif;
  font-size: 18px;
  color: brown;
}

#fname01,#fname02{
  border-radius: 5px;
  font-family: serif;
  font-size: 18px;
  color: black;
  background-image: url(static/images/openfiles.jpeg;
}

.head{
  background-color: rgb(0,60,60);
  font-size: 20px;
  color: #FFFACD;
  /* text: #E0FFFF */
  font-weight: bold;
  text-align: center;
  padding: 15px;
}
.grid-container {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: grid;
  grid-template-columns: auto 230px 230px 230px;
  grid-gap: 5px;
  background-color: rgb(96,125,139);
  padding: 5px;
  margin-bottom: 5px;
  margin-top:  1px;
}

.playbox{
  flex:none;
  border-radius: 5px;
  width: 225px;
  height: 60px;
  margin: 3px;
  padding-left: 3px;
  padding-bottom: 3px;
  padding-top: 3px;
  display: inline-block;
  vertical-align: top;
  background: linear-gradient(white, rgb(50,50,50));
  font-size: 18px;
}

.div03{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  width: 1100px;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(50,100,120);
  margin-bottom: 5px;
}
.div03 .inputfile{
  background: linear-gradient(white, rgb(50,50,50));
  border-radius: 5px;
  display: inline-block;
  flex:none;
  font-size: 15px;
  height: 65px;
  width: 430px;
  margin: auto;
  vertical-align: center;
}

#freq_graph{
  align-items: center;
  padding: 5px;
  text-align: center;
  width: 800px;
  /* height: 160px; */
  background-color: #002D3C;
  margin: auto;
}

#analyser_render{
  align-items: center;
  padding: 2px;
  text-align: center;
  width: 210px;
  height: 55px;
  background: linear-gradient(white, rgb(50,50,50));
  margin: auto;
}
#fragment{
  align-items: center;
  padding: 20px;
  background: radial-gradient(circle, #999, #100);
  width: 400px;
  height:350px;
}

#volumeControl {
  -webkit-appearance: none;
  background-color: #6FFF00;
  height: 22px;
  border-radius: 15px;
  padding: 0 2px;
}
