html, body{
  /* margin: 10px; */
  height: 100%;
  font-size: 14px;
  font-family: serif;
  /* color: red; */
  /* background-color: #eeeeee; */
}
.head{
  background-color: rgb(63,81,181);
  font-size: 24px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}
line {
  stroke: green;
  stroke-width: 1px;
}
line.xaxis {
  stroke: yellow;
  stroke-width: 8px;
}

.div01{
  margin-left: auto;
  margin-right: auto;
}

.divd3{
  /* margin-left: auto;
  margin-right: auto; */
  margin-left:10px;
}

.div02{
  border-radius: 10px;
  width: 1110px;
  /* height: 150px; */
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(96,125,139);
}

.box{
  border-radius: 5px;
  width: 500px;
  margin: 10px;
  padding-left: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
  display: inline-block;
  vertical-align: top;
  background-color: white;
  font-size: 18px;
}

/* fname01 input{
  background-color: #888888;
} */

input:hover, button:hover{
  border-radius: 5px;
  background-color: #FFF8DC;
}

audio:hover{
  border-radius: 20px;
  background-color: #ffffff;
}

#play1Button{
  font-family: serif;
  font-size: 18px;
  color: red;
}
#pause1Button{
  font-family: serif;
  font-size: 18px;
  color: brown;
}
#play2Button{
  font-family: serif;
  font-size: 18px;
  color: green;
}
#pause2Button{
  font-family: serif;
  font-size: 18px;
  color: darkgreen;
}
